body{
    display: flex;
    background-color: #000;
    height: 98vh;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    overflow: hidden;
    flex-direction: row;
    background: url(bg-night.png) no-repeat center center fixed;
    background-size: cover;
}   

.chatRow{
    flex: 3;
    height: 100vh;
    z-index: 10;
}

.voteList{
    flex: 1;
    background-color: black;
    color:white;
    opacity: 0.8;
    height: 15vh;
    
}

.chatHeader{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    height: 5vh;
    background-color: black;
    color:white;
    opacity: 0.8;
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding: 0.5rem 0 0.5rem 0;
}
.chatBody{
    text-align: center;
    height: 75vh;
    background-color: black;
    color:white;
    opacity: 0.8;
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    overflow: auto;
}

.chatFooter{
    text-align: center;
    height: 5vh;
    background-color: black;
    color:white;
    opacity: 0.8;
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding: 1rem 0.5rem 1rem 0.5rem;

}



.receiveChat{
    text-align: left;
    height: 3vh;
    width: 10rem;
    padding: 0.2rem 0 0.5rem 0.3rem;
    margin : 1.2rem 0 1.2rem 0;
}

.sentChat{
    text-align: right;
    height: 3vh;
    padding: 0.2rem 0.3rem 0.5rem 0;
    margin : 1.2rem 0 1.2rem 0;
}

.msg{
    font-size: 1.3rem;
}
.name{
    font-size: 0.7rem;
}


.gameRow{
    flex: 7;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    z-index: 10;
}

.gameCol{
    text-align: center;
    height: 75vh;
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    flex-direction: row-reverse;
    

}

#SpList{
    
}

.StatusBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.SpList{
    flex: 3;
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    font-size: 1.5rem;
    background-color: black;
    color:white;
    opacity: 0.8;
    height: 25vh;
    overflow: auto;
}

.ingameLog{
    flex: 7;
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    font-size: 1.5rem;
    height: 25vh;
    overflow: auto;
    background-color: black;
    color:white;
    opacity: 0.8;
}

.Alive{
    flex: 1;
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    font-size: 1.5rem;
    background-color: black;
    color:white;
    opacity: 0.8;
    height: 25vh;
}

.Time{
    flex:1;
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    font-size: 3rem;
    background-color: black;
    color:white;
    opacity: 0.8;
    height: 25vh;
}

.Role{
    flex:1;
    background-color: black;
    color:white;
    opacity: 0.8;
    height: 25vh;
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    font-size: 3rem;
}

button{
    width: 20vh;
    height: 5vh;
    border: 3px solid #fff;
    background-color: transparent;
    font-size: 1rem;
    color: #fff;
    transition: all 0.5s;
    cursor: pointer;
    top:50%;
    margin: 0 0.3rem 0 0.3rem;
}

button:disabled{
    background-color: #fff;
    color: darkgray;
}
